server {
    listen  80 default_server;

    root /var/www/html;
    index index.html index.htm index.php;

    access_log /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log error;

    charset utf-8;

#    location / {
#        try_files $uri $uri/ /index.php$is_args$args;
#    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

#    location ~ \.php$ {
#        fastcgi_split_path_info ^(.+\.php)(/.+)$;
#        # With php5-fpm:
#        fastcgi_pass php:9000;
#        fastcgi_index index.php;
#        include fastcgi_params;
#	fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
#        fastcgi_param  PHP_VALUE          "newrelic.license='dee5b541f9b7e6f7d36aee684d25c14b60d33c25'
#                                           newrelic.appname='wambo.co'";
#    }

    # Deny .htaccess file access
    location ~ /\.ht {
        deny all;
    }
}
